venv/
env/

.env

node_modules/
frontend-spa/node_modules/
frontend-spa/build/

__pycache__/
*.pyc

db.sqlite3

media/
staticfiles/

store.log
*.log

.vscode/

frontend-spa/src/.env
frontend-spa/src/.env_old
qr_*.png