{% extends 'store/base.html' %}

{% block content %}



<h2>Checkout</h2>

 <form method="post" action="{% url 'place_order' %}">
        {% csrf_token %}




<table border="1" cellpadding="10">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Subtotal</th>
    </tr>

    {% for item in cart_items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.qty }}</td>
        <td>${{ item.subtotal }}</td>
    </tr>
    {% endfor %}
    
</table>

<h3>Total: ${{ total }}</h3>
<hr>
<h3>Delivery Address</h3>

<label>Address</label><br>
<textarea name="address" required></textarea><br><br>

<label>City</label><br>
<input type="text" name="city" required><br><br>

<label>State</label><br>
<input type="text" name="state" required><br><br>

<label>Pincode</label><br>
<input type="text" name="pincode" required><br><br>

<label>Phone</label><br>
<input type="text" name="phone" required><br><br>



   
<p><b>Name:</b> {{ request.user.username }}</p>
               
<button type="submit" class="btn btn-success">
            Place Order</button>
</form>
{% endblock %}

    