.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

product-card {
  display:flex;
  gap:20px;
  align-items:center;
  border:1px solid #ddd;
  padding:15px;
  margin-bottom:15px;
  border-radius:12px;
  box-shadow:0.4px 10px rgba(0,0,0,0.08);
  max-width:600px;
}

.add-btn {
  background:#0d6efd;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}

.add-btn:hover {
  background:#084298;
}
