<!DOCTYPE html>
<html>
<head>
<title>Invalid Invoice</title>

<style>

body{
font-family: Arial;
background: #f4f6f9;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}

.card{

background: white;
padding: 30px;
border-radius: 10px;
text-align: center;
box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}

.error{
color:red;
font-size:22px;
font-weight:bold;
}
</style>

</head>
<body>

<div class="card">
<h2 class="error">❌ Invalid Invoice</h2>
<p>This invoice does not exists</p>
<p>Please contact support</p>
</div>
    
</body>
</html>